NEXT_PUBLIC_MAPBOX_TOKEN=pk.replace_me
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_PROGRAM_ID=GNfEEPYES1k2sZnoBfWbA51zYZVSyeB46te6EyL8CzBt
NEXT_PUBLIC_TREASURY=YOUR_DEVNET_WALLET_ADDRESS
